* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.flex {
    display: flex;
}

.flex__column {
    flex-direction: column;
}

.flex__center {
    align-items: center;
    justify-content: center;
}

.flex__between {
    justify-content: space-between;
}

a, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: black;
    text-decoration: underline;
}

header {
    background-color: rgb(104, 3, 3);
    color: white;
    height: 4rem;
    width: 100%;
}

.income {
    background: url(/assets/budget2.jpg) rgba(250, 243, 185, 0.952) no-repeat;
    background-size: cover;
    height: 40vh;
}

input {
    border: none;
    border-bottom: solid 2px grey;
    width: 8rem;
    padding: .3rem;
    margin: 1em;
}

#income-amount {
    background-color: transparent;
    border-bottom: solid 2px rgb(70, 69, 69);
}

input:focus, #income-amount:focus {
    outline: none;
    border-color: black;
}

button {
    background-color: rgb(104, 3, 3);
    border: 2px solid rgb(104, 3, 3);
    border-radius: .5rem;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.404);
    color: white;
    cursor: pointer;
    font-size: .9rem;
    margin: .5rem;
    margin-left: 0;
    padding: .5rem;
}

.btn--ghost {
    background-color: white;
    border: 2px solid rgb(104, 3, 3);
    color: rgb(104, 3, 3);
}

button:hover, .add-category:hover {
    transform: translate(.2rem, -.05rem);
    transform: scale(1.05, 1.05);
}

.btn--ghost:hover {
    background-color: rgb(104, 3, 3);
    color: white;
}

button:focus {
    outline: none;
}

button:disabled {
    cursor: not-allowed;
    filter: opacity(43%);
}

.no-budget {
    text-align: center;
    margin: 1rem;
}

.no-budget p, .display__income-balance, .display__budget-sum {
    margin-bottom: 1rem;
}

.add-category {
    border-radius: 0;
    margin: 1rem;
    margin-left: 0;
    width: 10rem;
}

.placeholder {
    color: rgb(44, 43, 43);
}

.budget {
    padding: 1rem;
}

.budget-category, .display-category {
    border: 2px solid white;
    box-shadow: 0px 2px 5px 1px gray;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    min-width: 40%;
}

.budget-category input {
    width: 4rem;
}

.income-balance {
    margin-bottom: 1rem;
}

.display-budget h2 {
    margin-bottom: .5rem;
}

.display-category p {
    margin-bottom: .5rem;
}

.delete-options {
    text-align: center;
}

.delete-options p {
    margin: 1rem;
}

footer {
    color: rgb(104, 3, 3);
    text-align: center;
    padding: .5rem 0;
}

.heart {
    font-size: 1.4rem;
}

.profile-links{
    padding: 0 1rem;
}

.profile-links__image {
    filter: sepia(1);
    height: 1.3rem;
    width: 1.3rem;
}

.profile-links__image:hover {
    filter: sepia(0) contrast(10);
    transform: scale(1.2);
}

.hide {
    display: none;
}

@media all and (max-width: 480px) {
    .budget-category {
        display: flex;
        flex-direction: column;
    }
}